body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #333;
  background-color: #fff;
}
p {
  font-size: 16px;
  line-height: 24px;
}
li {
  list-style: none;
}
main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  padding: 0 20px;
}

.color-white {
  color: #fff;
}

.color-yellow {
  color: #f6c311;
}

.color-gray {
  color: #38344e;
}

.bg-gray {
  background: #38344e;
}

.color-orange {
  color: #ff8008;
}

.bg-orange {
  background-image: linear-gradient(to top, #f95c3b, #ff2b67);
}

.color-turquoise {
  color: #f2f7ff;
}

h2,
h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
